@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;700&display=swap');

:root{
    --font-color-white: rgb(255, 255, 255);
    --font-color-grey: rgb(152, 151, 145);
    --color-grey: rgb(51, 58, 64);
    --color-footer-osc: #1d3744;
    --color-footer-cla: #1d5270;
    --color-button: rgb(40, 167, 68);
    
}

.bg-main1{
    background: rgba(0, 0, 0, 0.5) url(../assets/img/ba1.jpg);
    background-blend-mode: darken;
    background-size: cover;
}

.bg-main2{
    background: rgba(0, 0, 0, 0.5) url(../assets/img/ba2.jpg);
    background-blend-mode: darken;
    background-size: cover;
}

.bg-main3{
    background: rgba(0, 0, 0, 0.5) url(../assets/img/ba3.jpg);
    background-blend-mode: darken;
    background-size: cover;
}

.margin-carrusel{
    margin-right: 6rem;
}

.text-justify{
    text-align: justify;
}

.input-w{
    width: 48%;
}

.pad-carrusel{
    padding-right: 3rem;
}

.img-100{
    width: 100%;
    object-fit: cover;
}

.card-wh{
    width: 300px; 
    height: 500px;
} 

.card-w{
    width: 300px; 
}

.punteado{
    border-bottom: 2px dotted #000
}

.just-nav{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.footer{
    height: 75px; 
    background: rgb(29,55,68);
    background: linear-gradient(67deg, rgba(29,55,68,1) 0%, rgba(29,82,112,0.865983893557423) 81%);
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

.item{
    text-decoration: none;
    margin-right: 15px;
    color: var(--font-color-grey);
}

.item-footer{
    color: white;
    font-size: 13px;
}

.li-footer{
    list-style: none;
}

.oradores{
    display: flex;
    justify-content: center;
    gap: 25px;
}

.img-const{
    object-fit: cover;
}

.div-carrusel{
    width: 50%;
    text-align: end;
}

/* 768 y 480 */

@media screen and (max-width: 480px) {
    .width-carrusel{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .margin-carrusel{
        margin-right: 0;
    }

    .alignitems{
        align-items: center;
        justify-content: center;
    }

    .text-modif-cen{
        text-align: center;
    }

    .text-modif-just{
        text-align: justify;
    }

    .img-100{
        width: 100%;

    }

    .input-w{
        width: 100%;
    }

    .footer{
        flex-direction: column;
        justify-content:center;
        width: 100%;
        height: 100%;
    }

    .oradores{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    .alinearbotones{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .botonmain{
        width: 100%;
        margin: 0 0 10px 0; 
    }

    .div-carrusel{
        width: 90%;
        text-align: center;
    }

 }

 @media screen and (min-width: 481px) and (max-width: 768px) {
    .width-carrusel{
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .margin-carrusel{
        margin-right: 0;
    }

    .alignitems{
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .alinearbotones{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .botonmain{
        width: 100%;
        margin: 0 0 10px 0; 
    }

    .text-modif-cen{
        text-align: center;
    }

    .text-modif-just{
        text-align: justify;
    }

    .img-100{
        width: 100%;
    }

    .input-w{
        width: 100%;
    }

    .footer{
        flex-direction: column;
        justify-content:center;
        width: 100%;
        height: 100%;
    }

    .oradores{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 25px;
    }

    .div-carrusel{
        width: 90%;
        text-align: center;
    }
    
}


